{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<table>
    <tr>
        <th><strong>Maori </strong></th>
        <th><strong>English </strong></th>
        <th><strong>Image </strong></th>
    </tr>


    {% for word in Update_words %}
    <tr>
        <td><a href="/detail/{{word[0]}}/{{word[6]}}">{{word[0]}}</a></td>
        <td><a href="/detail/{{word[0]}}/{{word[6]}}">{{word[1]}}</a></td>
        <td><img class="thumb" src = "/static/images/{{word[5]}}.jpg"></td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
