{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<table>
    <tr>
        <td><strong>Maori </strong></td>
        <td><strong>English </strong></td>
    </tr>


    {% for Dictionary in Dictionarys %}
    <tr>
        <td><a href="/detail/{{Dictionary[0]}}">{{Dictionary[0]}}</a></td>
        <td><a href="/detail/{{Dictionary[0]}}">{{Dictionary[1]}}</a></td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
